.navbar {
    background-color: rgb(255, 166, 0);
    width: 100%;
    height: 53px;
}
.navbar-bottom {
    background-color: rgb(255, 189, 67);
    width: 100%;
}
.input-search{
    width: 70%;
    height: 28px;
}

.search{
    margin:0 auto;
    width: 40%;
    height: 52;
}

.profil-image{
    float: right;
}

.logo{
    display: inline-block;
    margin-top: 14px;
    margin-bottom: 10px;
    margin-left: 26px; 
}

.route-link  {
    display: inline;
    font-size: 16px;
  }

.ul-nav{
    display: inline;
    padding: 15px;
}

a {
    display: inline-block;
    padding: 5px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }

.search-input{
    float: right;
    display: inline-block;
    margin: auto;
    margin-right: 16px;
    margin-buttom: 16px;
}

.search-input > input{
    margin-left: 443px;
}

.button-left{
    float: right;
    text-decoration: none;
    background-color: rgb(255, 219, 121);
    border: none;
    padding-bottom: 0;
    color: white;
}
.button-link{
    float: right;
    margin:17px;
    text-decoration: none;
    background-color: rgb(255, 219, 121);
    color: white;
    border-radius: 12px;
}

.img-profil{
    display: inline-block;
    float: right;
    border-radius: 50%;
    width: 35px;
    margin:10px;
}

