.navbar {
    background-color: rgb(255, 166, 0);
    width: 100%;
    height: 53px;
}
.navbar-bottom {
    background-color: rgb(255, 189, 67);
    width: 100%;
}
.input-search{
    width: 70%;
    height: 28px;
}

.search{
    margin:0 auto;
    width: 40%;
    height: 52;
}

.profil-image{
    float: right;
}

h4{
    margin-top: 14px;
    margin-bottom: 10px;
    margin-left: 26px; 
}

.route-link  {
    display: inline;
    font-size: 16px;
  }

ul,li {
    display: inline;
    padding: 15px;
}

a {
    display: inline-block;
    padding: 5px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  