.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  height: 100%;
  box-sizing: border-box;
}


.content {
 margin-left: 15px;
 margin-right: 15px;
 margin-top: 100px;
 overflow: auto;
}

.produk{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 20px;
  display: block;
  overflow: auto;
}

.btn-loadmore{
  background-color: rgb(255, 219, 121);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 20%;
  margin: auto;
  display: block;
  border-radius: 12px;
  margin-bottom: 20px; 
}

